/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







/*||*********BODY AND GENERAL STYLES**********||*/

body {
    	font-family: Helvetica;
    	line-height: 1.6;
    	background-color: var(--darkblue);
	text-align: start;
}

html * {
  	font-family: Helvetica, sans-serif;
}

:root {
  --purple: #734B5E;
  --white: #ffffff;
  --darkblue: #13192A;
  --grey: #474848;
  --grey_hover: #CBCDCD;
  --lightblue: #8E9FCC;
}







/*||*********HEADER STYLES**********||*/

.header {
    flex-direction: column; /* Stack title and nav vertically */
    height: 100px; /* Set height of the header (can adjust as needed) */
    background-color: var(--purple); /* Background color of header */
    position: relative; /* Position for absolute nav */
	top:0;
	width: 100%;
	height:200px;
}

.page-titel {	
	display: flex;
	height:75%;
	padding-left:30px;
	color:white;
    position:relative;
    justify-content:left;
    align-items:end;
    justify-items: start;
	font-size: 36px;
}

#title-img {
	-webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
	mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
	position:absolute;
	right:0;
	top:0;
	height:100%;
	z-index: 1;
  }

.navbar {
	height: 25% ;
	position: absolute;
	width: 100%;
	left:0;
	bottom:0;
	z-index: 0;
}

.navbar ul{
	list-style-type:none;
	display: flex;
	flex-direction: row;
	background-color:var(--grey);
	padding: 0px;
	overflow: hidden;
	height:100%;
}

.navbar a{
	color: black;
	text-decoration: none;
	background-color: var(--grey_hover);
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	height: 100%;
	width:100%;
	padding: 20px;
}

.navbar a:hover{
	background-color: var(--grey);
	color: var(--white);
}

.navbar li {
	float: left;
	height: 100%;
	width: auto;
	border-right: solid thin var(--grey)
}







/*||*********MAIN CONTENT SYTLES**********||*/

main {

    text-align: left;
}

.container_1{
	z-index: 1;
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto; 
  gap: 30px 30px; 
  grid-template-areas: 
    "semester ."
    "Item-1 Image-1"
    "Item-2 Image-2"
    "Item-3 Image-3"; 
	overflow-x:auto;
	overflow-y: hidden;
	height:100%;
}

.semester { grid-area: semester; }
#grundlagen { grid-area: Item-1; }
#atmung { grid-area: Item-2; }
#herz { grid-area: Item-3; }
#mindmap_grundlagen { grid-area: Image-1;}
#mindmap_atmung {grid-area: Image-2;}
#mindmap_herz {grid-area: Image-3;}


#psychosozial { grid-area: Item-1;}
#mindmap_psychosozial {grid-area: Image-1;}

.semester {
	grid-area: semester;
	justify-self: start;
	height: 40px;
 	width: 150px;
  	padding: 0px; 
	color: white;
	background: var(--purple);
	align-self:center;
	font-family: 'helvetica';

	/* Flexbox properties to center text */
	display: flex;
    	justify-content: center; /* Horizontally center */
    	align-items: center; /* Vertically center */
}

.themenbloecke {
 	height: 270px;
 	width: 100%;
	min-width: 300px;
  	padding: 0px; 
	color: white;
	transition: border 0.2s ease;
}

.title-block {
	background-color: var(--purple); /* Change the background color to what you like */
    	color: white;
    	padding: 0px;
	display:flex;
    	align-items: center;
    	justify-content: center;
   	text-align: center;
	height:25%;	
}

.title_themenblöcke {
    line-height:100%;
    font-weight: bold;
	padding: 10px;
}

#themenblock-titel {
	font-size: 25px;
}

.bottom-block {
    background-color: #FFFFFF;
	height:75%;
}

.bottom-block img {
    width: 100%;
    height: 100%;
    object-fit:cover; /* Ensures the image is cropped to fit the container without distortion */
    object-position: center; /* You can adjust this to show the part of the image you want, e.g. top, bottom, etc. */
    transition: filter 0.6s ease; /* Smooth transition for hover effect */
	filter: opacity(1);
}

.themenbloecke:hover .bottom-block img{
    	filter: opacity(0.6); /* Restore the normal brightness */
}

.container_2{
	z-index: 1;
	padding-left:30px;
	padding-right:30px;
	padding-top:30px;
  	display: grid; 
  	grid-template-columns: 1fr 1fr; 
  	grid-template-rows: auto; 
  	gap: 30px 30px; 
  	grid-template-areas: 
    "semester ."
    "Item-4 ."
    "Item-5 ."
    "Item-6 ."
	"Item-7 ."; 
	overflow-x:auto;
	overflow-y: hidden;
	height:100%;
}

#block_4 {grid-area: Item-4;
border: solid var(--purple);}
#block_5 {grid-area: Item-5;
border: solid var(--purple)}
#block_6 {grid-area: Item-6;
border: solid var(--purple);}
#block_7 {grid-area: Item-7;
border: solid var(--purple)}

h3 {
	margin-top:20px;
	margin-left:0px;
	margin-right: 20px;
	color:#e07b8f;
}







/*||*********SIDENAV STYLES**********||*/

#button {
	color: white;    /* Change the color if needed */
	text-decoration: none; /* Remove underline */
	cursor: pointer; /* Makes the cursor a pointer */
	display: inline-block; /* Ensures the link wraps tightly around the symbol */
	position: absolute;
	right:0;
	padding-right: 0;
	font-size: 40px;
}

.sidenav {
	position: fixed; /* Keeps the sidebar fixed in place */
  display: none;
  height: 100%;
  width: 40vw;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: rgba(19, 25, 42, 0.795); /* Semi-transparent black */
  overflow-x: hidden;
  padding-top: 0vh;
	padding-bottom: 10vh;
	overflow-y: auto;
	backdrop-filter: blur(60px); /* Blur effect */
    -webkit-backdrop-filter: blur(40px); /* For Safari support */
}

.sidenav p {
	padding-left: 25px;
  text-decoration: none;
  font-size: 17px;
  color: white;
  display: block;
}

.sidenav a{
	padding-left: 25px;
	text-decoration: none;
	font-size: 17px;
	color: white;
	display: block;
}

.sidenav h2{
	color: #76A6BC;
	border: solid #76A6BC;
	padding-left: 20px;
	margin-bottom: 20px;
}

.Woche{
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
}

.title-vorlesungen {
	padding-left: 20px;
	padding-right: 40px;
	padding-top: 30px;
	padding-bottom: 20px;
	height: auto;
	color: #e07b8f;
	font-size: 50px;
}

#link {
	color:white;
	margin-left:30px;
}

#link:hover {
	color:#75C3FA;
}







/*||*********MODAL STYLES**********||*/

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
	margin: auto;
	display: block;
	width: 80%;
  }
  
  /* Caption of Modal Image */
  #caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
  }

  /* Add Animation */
.modal-content, #caption {  
	animation-name: zoom;
	animation-duration: 0.6s;
  }

 .modal-img {
	cursor: pointer;
	transition: 0.3s;
	width: 50%;
	min-width:200px;
    height: 200px;
    object-fit: cover; /* Ensures the image is cropped to fit the container without distortion */
    object-position: center; /* You can adjust this to show the part of the image you want, e.g. top, bottom, etc. */
  }

  @keyframes zoom {
	from {transform: scale(0.1)} 
	to {transform: scale(1)}
  }

  .close {
	color: white;    /* Change the color if needed */
	text-decoration: none; /* Remove underline */
	cursor: pointer; /* Makes the cursor a pointer */
	display: inline-block; /* Ensures the link wraps tightly around the symbol */
	position: absolute;
	right:0;
	margin-right: 5%;
	font-size: 40px;
  }







  /*||*********LECTURE STYLES**********||*/

  /* Styling Herz Lectures*/
  #angeborene-herzfehler {
	color: rgb(255, 208, 0);
}
#angeborene-herzfehler:hover {
	color:white;
}

#pathophysiologische-grundlagen {
	color: rgb(0, 149, 255);
}
#pathophysiologische-grundlagen:hover {
	color:white;
}

#Herzrhythmusstörungen {
	color: darkgray;
}
#Herzrhythmusstörungen:hover {
	color:white;
}

#gefässerkrankungen {
	color: yellowgreen;
}
#gefässerkrankungen:hover {
	color:white;
}

#Koronare-Herzkrankheit {
	color: red;
}
#Koronare-Herzkrankheit:hover {
	color:white;
}

#herzinsuffizienz {
	color: teal;
}
#herzinsuffizienz:hover {
	color:white;
}

#Herzklappenerkrankungen {
	color: rgb(0, 145, 0);
}
#Herzklappenerkrankungen:hover {
	color:white;
}

#Entzündliche-Herzerkrankungen {
	color: greenyellow;
}
#Entzündliche-Herzerkrankungen:hover {
	color:white;
}

#Diagnostik {
	color: rgb(140, 255, 207);
}
#Diagnostik:hover {
	color:white;
}

#Grundlagen-Herz{
  color:white;
}
#Grundlagen-Herz:hover {
  color: rgb(72, 169, 230);
}

#EKG{
	color:rgb(9, 170, 211)
}
#EKG:hover {
	color: white;
}
/* Styling Atmung Lectures*/

#Atemregulationsstörungen {
	color: rgb(255, 208, 0);
}
#Atemregulationsstörungen:hover {
	color:white;
}

#Grundlagen {
	color: rgb(0, 149, 255);
}
#Grundlagen:hover {
	color:white;
}

#lungentransplantation {
	color: darkgray;
}
#lungentransplantation:hover {
	color:white;
}

#Lungenkrankheiten-bei-Kindern {
	color: red;
}
#Lungenkrankheiten-bei-Kindern:hover {
	color:white;
}

#lungentumore {
	color: teal;
}
#lungentumore:hover {
	color:white;
}

#Obstruktive-Atemwegserkrankungen {
	color: rgb(90, 136, 90);
}
#Obstruktive-Atemwegserkrankungen:hover {
	color:white;
}

#Vaskuläre-Erkrankungen {
	color: greenyellow;
}
#Vaskuläre-Erkrankungen:hover {
	color:white;
}

#Infekte-der-Atemwege {
	color: rgb(140, 255, 207);
}
#Infekte-der-Atemwege:hover {
	color:white;
}

#diffuse-parenchym {
	color: rgb(72, 169, 230);
}
#diffuse-parenchym:hover {
	color:white;
}

/*Styling Grunlagen Lectures*/
#Pathologie {
	color: rgb(255, 208, 0);
}
#Pathologie:hover {
	color:white;
}

#med_genetik {
	color: blue;
}
#med_genetik:hover {
	color:white;
}

#bild_verfahren {
	color: darkgray;
}
#bild_verfahren:hover {
	color:white;
}

#hämatologie {
	color: yellowgreen;
}
#hämatologie:hover {
	color:white;
}

#Onkologie {
	color: red;
}
#Onkologie:hover {
	color:white;
}

#grundversorgung {
	color: teal;
}
#grundversorgung:hover {
	color:white;
}

#geriatrie {
	color: darkgreen;
}
#geriatrie:hover {
	color:white;
}

#klin_chemie {
	color: rgb(0, 52, 184);
}
#klin_chemie:hover {
	color:white;
}

#Immunologie {
	color: greenyellow;
}
#Immunologie:hover {
	color:white;
}

#Mikrobiologie {
	color: rgb(140, 255, 207);
}
#Mikrobiologie:hover {
	color:white;
}

#Virologie {
	color: rgb(72, 169, 230);
}
#Virologie:hover {
	color:white;
}

#parasitologie {
	color: rgb(255, 34, 0);
}
#parasitologie:hover {
	color:white;
}

#pharmakologie {
	color: rgb(142, 97, 195);
}
#pharmakologie:hover {
	color:white;
}

/*Styling Psychosozial Lectures*/

#PSM {
	background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
	color: transparent;
	background-clip: text;
	-webkit-background-clip: text;
}
#PSM:hover {
	color:white;
}


/* screen size styling */


@media only screen and (max-width: 1000px){
	.sidenav {
		width: 60vw;
	}

	#themenblock-titel {
		font-size: 20px;
	}

	.title-vorlesungen {
		padding-left: 20px;
		padding-right: 40px;
		padding-top: 30px;
		padding-bottom: 20px;
		height: auto;
		color: #e07b8f;
		font-size: 30px;
	}

	.page-titel {	
		display: flex;
		height:75%;
		padding-left:30px;
		color:white;
		position:relative;
		justify-content:left;
		align-items:end;
		justify-items: start;
		font-size: 30px;
	}

	#title-img {
		height:100%;
		width:100%;
		filter: opacity(0.4);
		mask-image:none;
		z-index:0;
		object-fit: cover; /* Ensures the image is cropped to fit the container without distortion */
		object-position: center; /* You can adjust this to show the part of the image you want, e.g. top, bottom, etc. */
	}
}

@media only screen and (max-width: 600px){
	.sidenav {
		width: 81vw;
	}

	#themenblock-titel {
		font-size: 18px;
	}

	.title-vorlesungen {
		padding-left: 20px;
		padding-right: 40px;
		padding-top: 30px;
		padding-bottom: 20px;
		height: auto;
		color: #e07b8f;
		font-size: 25px;
	}

	.page-titel {	
		display: flex;
		height:70%;
		padding-left:30px;
		color:white;
		position:relative;
		justify-content:left;
		align-items:end;
		justify-items: start;
		font-size: 25px;
	}
}

